<html>
    <head>
        <title>Bit Boss Battles | Home</title>
		<meta name="Description" content="Take charge, brave streamer, and lead your viewers into battle with their bits! The almighty Bit Boss has awoken!">
		<meta name="Keywords" content="twitch, bit, boss, battles">
        <link href="https://fonts.googleapis.com/css?family=Press+Start+2P|Roboto" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="./stylesheets/common.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="main">
            <div class="container" style="margin-top: 0; padding-top: 0;">
                <div style="text-align: center;"><img src="./images/logo.png"><br><h1 style="font-family: 'Press Start 2P', cursive;">By Nifty255</h1></div>
            </div>
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li class="active"><a>Home</a></li>
                <li><a href="./launcher">Launcher</a></li>
                <li><a href="./settings">Settings</a></li>
				<li><a href="./help">Help Page</a></li>
            </ul>
            <div class="container">
                <p class="indent">Take charge, brave streamer, and lead your viewers into battle with their bits! The almighty Bit Boss has awoken! Give your viewers a live game to play against each other by using this widget to fight the Bit Boss. For each bit cheered, 1 damage is dealt to the current boss. But be forewarned; the viewer to deal the final blow to the current boss becomes the new Bit Boss!</p>
                <div style="margin-bottom: 10px; text-align: center;"><img src="./images/BitBossBattle.gif"></div>
				<p class="indent">Bit Boss Battles (BBB) is an open source, viewer interactive bits widget for the Twitch platform. Streamers using BBB enable their viewers to fight each other using bits to become the next Bit Boss.</p>
                <p class="indent">Visit the Launcher Page to get started.</p>
				<br>
				<a href="https://twitter.com/Nifty255" target="_blank">
					<div style="float: left;">
						<img src="./images/Twitter.png" style="width: 19px;">
					</div>
					<div style="margin-left: 24px;">
						<h4 style="font-family: 'Press Start 2P', cursive;margin: 0;position: relative;top: 2px;">Follow @Nifty255 for BBB updates!</h4>
					</div>
				</a>
				<br>
				<a href="https://github.com/Nifty255/Bit-Boss-Battles" target="_blank">
					<div style="float: left;">
						<img src="./images/GitHub.png" style="width: 19px;">
					</div>
					<div style="margin-left: 24px;">
						<h4 style="font-family: 'Press Start 2P', cursive;margin: 0;position: relative;top: 2px;">Got an issue? Tell Nifty on GitHub!</h4>
					</div>
				</a>
				<br>
				<a href="https://www.patreon.com/nifty255" target="_blank">
					<div style="float: left;">
						<img src="./images/Patreon.png" style="width: 19px;">
					</div>
					<div style="margin-left: 24px;">
						<h4 style="font-family: 'Press Start 2P', cursive;margin: 0;position: relative;top: 2px;">Want to support BBB? Become a Patron!</h4>
					</div>
				</a>
            </div>
        </div>
    </body>
</html>